.idea
###> symfony/framework-bundle ###
/.env.local.php
/.env.local
/.env.*.local
/public/bundles/
/var/cache/
!/var/cache/.gitignore
/var/log
!/var/log/.gitignore
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/public/images/printer/*.jpg

###> Vagrant
/*-console.log
/.vagrant/
/.debug/
/public/apc.php