{% extends 'base.html.twig' %}

{% block title %}New Printer{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Printers</h1>
        {{ include('printer/_form.html.twig') }}
    </div>
{% endblock %}
