.printercard {
    margin-top: 7px;
    margin-bottom: 7px;
}

.printercard .table td, .table th {
    padding: .3rem;
}

.bg-black {
    background-color: black!important;
}
.bg-yellow {
    background-color: yellow!important;
}
.bg-magenta {
    background-color: magenta!important;
}
.bg-cyan {
    background-color: cyan!important;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

footer {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.page-header {
    padding-bottom: 9px;
    margin: 2rem 0 2rem;
    border-bottom: 1px solid #eee;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}