.printercard {
    margin-top: 7px;
    margin-bottom: 7px;
}

.printercard .table td, .table th {
    padding: .3rem;
}

.bg-black {
    background-color: black!important;
}
.bg-yellow {
    background-color: yellow!important;
}
.bg-magenta {
    background-color: magenta!important;
}
.bg-cyan {
    background-color: cyan!important;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

footer {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.page-header {
    padding-bottom: 9px;
    margin: 2rem 0 2rem;
    border-bottom: 1px solid #eee;
}