<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Sven Kuegler">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="text-center">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
