    <div class="row">
        <div class="text-center col-12">
            <span class="text-muted">
                <a href="{{ url('dashboard', {"view":"table"}) }}" class="btn btn-sm btn-light" title="Table View"><i class="fas fa-table"></i></a>
                <a href="{{ url('dashboard', {"view":"row"}) }}" class="btn btn-sm btn-light" title="Row View"><i class="fas fa-bars"></i></a>
                <a href="{{ url('dashboard', {"view":"card"}) }}" class="btn btn-sm btn-light" title="Card View"><i class="fas fa-th"></i></a>
            </span>
        </div>
    </div>