{% extends 'base.html.twig' %}
{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include "dashboard/printer_" ~ view ~ ".html.twig" with {'printerList': printerList} %}
    </div>
    {% include "dashboard/displaytype.html.twig" %}
</div>
{% endblock %}
