{% extends 'base.html.twig' %}

{% block title %}Ldap Disabled{% endblock %}

{% block body %}
    <div class="container">
        <div class="row page-header">
            <h1>LDAP is disabled!</h1>
        </div>

    </div>

{% endblock %}
